* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  text-align: center;
}
.navbar {
  position: absolute;
}
.navbar a {
  font-family: "Lobster", sans-serif;
  color: white;
  font-size: 1.3rem;
}
.in-flex h1 {
  font-family: "Lobster", sans-serif;
  font-size: 3rem;
}

section {
  position: relative; /* muy importante para que la img absoluta solo afecte a este section */
  width: 100%;
  height: 10rem;
  overflow: hidden; /* opcional, evita scroll por la imagen absoluta */
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(40%);
}

#ready-to-learn {
  color: #f5f5f5;
}

.nav-title {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: large;
}

.top,
.middle-part {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto; /* ← Esto permite que crezca según el contenido */
  margin-bottom: 60px;
  position: relative; /* ← Necesario para que .bg-img se posicione correctamente */
  padding: 40px 0; /* Opcional: agrega espacio vertical interno */
}

.in-flex {
  flex: 1;
  padding: 20px;
  min-width: 450px;
  text-align: center;
}
.in-flex p {
  font-size: 1.3rem;
}

#ready-to-learn {
  text-align: center;
  margin: auto;
}

.form-registrer {
  box-sizing: border-box;
  width: 400px;
  padding: 30px;
  background-color: rgba(0, 95, 115, 0.7);
  border-radius: 15px;
  color: white;
  margin: auto;
  margin-top: 6rem;
  height: 35rem;
}

.form-registrer h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

.form-registrer p {
  font-size: 13px;
  margin-bottom: 20px;
  text-align: center;
}

.formulario-input {
  border: none;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 50px;
  margin: 20px;
}

i {
  font-size: 30px;
}
#create-account-button:hover {
  box-shadow: 5px 0px 30px rgba(255, 255, 255, 0.3);
}
.sign-in:hover {
  box-shadow: 5px 0px 30px rgba(255, 255, 255, 0.3);
}

.sign-in {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background-color: #e9d8a6;
  border: none;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  gap: 7px;
  font-size: small;
  color: white;
  text-decoration: underline;
}
.options a {
  color: white;
}

.register-text {
  display: block;
  text-align: center;
  margin: 0px auto;
}

.create-account {
  justify-content: center;
}

.create-account button {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  max-width: 800px;
  background-color: #e9d8a6;
  border: none;
}
.formulario-input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;

  color: rgb(141, 135, 135);
}
.formulario-input-error-activo {
  display: block;
}

.formulario-grupo-correcto .formulario-input {
  border: 3px solid #1ed12d;
}
.formulario-grupo-incorrecto .formulario-input {
  border: 3px solid #bb2929;
}
/* Carrusel */
.carousel {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
  padding-top: 40px;
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.image-box {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: -45px;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-buttons {
  position: absolute;
  top: 44%;
  left: -80px;
  right: -80px;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.btn-nav {
  background-color: transparent;
  border: none;
  color: #ae2012;
  padding: 0;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
  pointer-events: auto;
  z-index: 10;
}

.btn-nav i {
  font-size: 5rem;
}

/* siguiente imagen */
.middle-part {
  height: 700px;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  margin-top: 50px;
}

/* Titulo grande arriba de telefono*/
.hero-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*Seccion de telefono izquierdo*/

.bloques-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.bloque-izquierdo {
  display: flex;
  align-items: center;
  position: relative;
}

.block-img {
  position: absolute;
  max-width: 900px;
  width: 900px;
  height: auto;
  top: -13%;
  left: -36%;
  transform: rotate(-15deg);
  z-index: -1;
}

.phone-img {
  position: relative;
  left: 14%; /* pegada al borde izquierdo */
  width: 550px; /* o el tamaño que necesites */
  transform: translateY(-6%);
  z-index: 1; /* encima del bloque amarillo */
}

.descripcion {
  margin-left: 30px;
  text-align: left;
}

.descripcion h1 {
  font-size: 2.5rem; /* tamaño grande para títulos */
  font-weight: 800;
  margin: 0;
}

.descripcion p {
  font-size: 1.4rem; /* tamaño más pequeño para párrafo */
  max-width: 54%;
  font-weight: 600;
  margin-top: 10px;
}

/*Bloque derecho*/

.bloque-derecho {
  display: flex;
  flex-direction: row-reverse; /* invierte el orden visual */
  align-items: center;
}

.block-img-blue {
  position: absolute;
  transform: translateY(-50%);
  width: 900px;
  right: -26%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.phone-img-blue {
  position: relative;
  width: 550px;
  transform: translateY(-12%);
  right: 150px;
  margin: 0; /* sin separación */
  padding: 0;
}

.descripcion-izquierda {
  text-align: right;
  margin-left: auto;
  transform: translateY(-30%);
  margin-right: 90px; /* mueve el bloque hacia la izquierda */
  max-width: 600px;
}

.descripcion-izquierda h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
}

.descripcion-izquierda p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 10px;
}

/*Bloque izquierdo Red*/

.bloque-izquierdo-red {
  display: flex;
  align-items: center;
  position: relative;
}

.block-img-red {
  position: absolute;
  max-width: 900px;
  width: 900px;
  height: auto;
  transform: rotate(15deg);
  top: -35%;
  left: -12%;
  z-index: -1;
}

.phone-img-red {
  position: relative;
  left: 14%; /* pegada al borde izquierdo */
  width: 550px; /* o el tamaño que necesites */
  transform: translateY(-6%);
  z-index: 1;
}

.descripcion-red {
  margin-left: 80px;
  text-align: left;
  margin-top: -140px;
}

.descripcion-red h1 {
  font-size: 2.5rem; /* tamaño grande para títulos */
  font-weight: 800;
  margin: 0;
}

.descripcion-red p {
  font-size: 1.4rem; /* tamaño más pequeño para párrafo */
  max-width: 54%;
  font-weight: 600;
  margin-top: 10px;
}

/* Sistema de recompensas */

.badge-box {
  background-color: #014f63;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
  padding-top: 40px;
  position: relative;
  z-index: 0;
}

.badge-box .row {
  gap: 90px;
}

.flecha-izquierda {
  position: absolute;
  transform: translateY(-65%);
  width: 350px;
  left: -12px;
}

.flecha-deco {
  position: absolute;
  transform: translateY(-50%);
  width: 500px;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.badge-title {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.badge-description {
  color: white;
  font-size: 1.1rem;
  max-width: 560px;
  line-height: 1.6;
  margin-bottom: 45px;
}
/*Imagenes de rencompensas*/
.row .col img {
  width: 160px;
  height: 160px;
}

.col.raise {
  margin-top: -40px;
}

.col.raise-down {
  margin-top: 15px;
}

.col img {
  width: 160px;
  height: auto;
}

.raise p,
.raise-down p {
  color: white;
  font-size: 1rem;
}

.raise h3,
.raise-down h3 {
  color: white;
  font-size: 1.25rem;
}

.top {
  height: 100vh; /* Ocupa el 100% del alto de la pantalla */
}

.car-title {
  font-weight: 800;
  font-size: 2.5rem;
}

.car-sub {
  margin: 0;
}
