body {
  background-color: #fffaeb;
  font-family: "Montserrat", sans-serif;
}
/*Barra de navegacion*/

.main-message {
  width: 50%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
.main-message p {
  font-size: 18px;
  padding: 1rem;
  font-weight: 500;
}
.bg-main {
  position: absolute;
  width: 30vw; /* ancho relativo al viewport */
  height: 30vw;
  max-width: 400px; /* opcional: límite máximo */
  max-height: 400px;
  z-index: -1;
  background: linear-gradient(to right, #94d2bd, #5ba88f);
  transform: rotate(45deg);
  top: 10%;
  left: 45%;
}
h1 {
  display: block;
  padding: 2rem;
  padding-bottom: 1rem;
  font-weight: 700;
}
h1 span {
  color: white;
}
.cards {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: grid;
  width: 60%;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  margin: 40px;
  animation: appear 1s ease-in-out;
}

.card .content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background: #fff;
}

.card .content .img {
  height: 50%;
  margin-bottom: 20px;
}

.card .content .img img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card .content span {
  position: absolute;
  display: block;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, #0a9396, #067274);
  transform: rotate(-35deg);
  top: -50px;
  left: -100px;
}

.card .content h4 {
  font-size: 18px;
  color: #1a1919;
  margin-bottom: 5px;
}

.card .content h6 {
  font-size: 13px;
  color: #ca6702;
}

.card .content p {
  font-size: 13px;
  color: #1a161f;
  margin-top: 10px;
}

.card .links {
  position: absolute;
  z-index: 90;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  padding: 20px;
  align-items: center;
  right: 10px;
  top: 15px;
  transition: 0.5s;
}

.card:hover .links {
  right: -50px;
  border-radius: 0 10px 10px 0;
}

.card .links a {
  font-size: 20px;
  color: #646069;
}

.card .links a:nth-child(1):hover {
  color: #0158ca;
}

.card .links a:nth-child(2):hover {
  color: #1c93e4;
}

.card .links a:nth-child(3):hover {
  color: #5d277d;
}

.card .links a:nth-child(4):hover {
  color: #fe0000;
}
.background-before-form {
  position: relative;
  margin-top: 5rem;
  background-image: url("/img/cards/desktop.jpg");
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.background-before-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.54); /* negro con transparencia */
  z-index: -1; /* se pone detrás del contenido pero encima del fondo */
}
.background-before-form h3 {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 3rem;
}

form {
  text-align: center;
  margin: auto;
  height: auto;
  min-height: 30rem;
  background-color: white;
  width: 40%;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  margin-top: 2rem;
  margin-bottom: 4rem;
  transition: ease-in-out 0.5s;
}
legend {
  font-size: 2rem;
  padding: 2rem;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 500;
}

input {
  /* border-radius: 3px; */
}

.form-content {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

.form-content label {
  text-align: left;
}
.message-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.message-content textarea {
  border-radius: 3px;
  min-height: 10rem;
  width: 95%;
}
.message-content label {
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.send-button {
  display: block;
  height: 2rem;
  margin: auto;
  margin-bottom: 1rem;
  width: 92%;
  background-color: #005f73;
  border: none;
  border-radius: 5px;
  color: white;
}
/* 
footer {
  background-color: #832d33;
  color: white;
  text-align: center;
  padding: 120px;
  position: fixed;
  bottom: 0;
  width: 100%;
} */

.form-response {
  font-weight: 500;
}
.sucess {
  color: rgb(45, 132, 47);
}
.error {
  color: rgb(132, 45, 45);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1150px) {
  h1 {
    padding: 0.2;
  }
  .main-message {
    padding: 0.5rem;
    width: 90%;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  legend {
    width: 100%;
  }
  .form-content {
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
  }
  form {
    width: 90%;
  }
}
@media (max-width: 670px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
