body {
  background-color: #fffaeb !important;
  font-family: "Montserrat", sans-serif !important;
}
/*Barra de navegacion*/
.navbar-brand {
  font-family: "Lobster", sans-serif !important;
}
.navbar-brand:hover {
  color: #ee9b00 !important;
}
.navbar-toggler {
  border: white 1px solid !important;
}
.nav-color {
  background-color: #832d33 !important;
}

.nav-color a {
  color: white !important;
  text-decoration: none !important;
}
.nav-color a:hover {
  color: #ee9b00 !important;
}

.navbar-nav i {
  font-size: 22px !important;
}
.bi {
  color: white;
  font-size: 30px !important;
}
.bi:hover {
  color: #ee9b00 !important;
}
.flex-column {
  /* display: flex;
  justify-content: space-around; */
}
