/* Aislar todo con el prefijo .custom-navbar */
.custom-navbar nav {
  background-color: #fffaeb !important;
  font-family: "Montserrat", sans-serif !important;
}

/* Marca */
.custom-navbar .navbar-brand {
  font-family: "Lobster", sans-serif !important;
}

.custom-navbar .navbar-brand:hover {
  color: #ee9b00 !important;
}

/* Botón hamburguesa */
.custom-navbar .navbar-toggler {
  border: white 1px solid !important;
}

/* Fondo de color personalizado */
.custom-navbar .nav-color {
  background-color: #832d33 !important;
}

/* Enlaces */
.custom-navbar .nav-color a {
  color: white !important;
  text-decoration: none !important;
}

.custom-navbar .nav-color a:hover {
  color: #ee9b00 !important;
}

/* Íconos */
.custom-navbar .navbar-nav i {
  font-size: 22px !important;
}

.custom-navbar .bi {
  color: white;
  font-size: 30px !important;
}

.custom-navbar .bi:hover {
  color: #ee9b00 !important;
}

/* Ajustes para columnas (opcional) */
.custom-navbar .flex-column {
  /* display: flex;
  justify-content: space-around; */
}
